body{
	height:100%;
	margin:0px 50px 0px 50px;
	background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.header h1{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 30px;
    color: rgb(73, 131, 231);
    text-shadow:1px 1px 1px blue,1px 2px 1px blue,1px 3px 1px blue,1px 4px 1px blue,1px 5px 1px blue,1px 6px 1px blue;
}
.header2 ul h2 div a{
    background-color: (0,0,0);
    text-align: center;
    background-color: rgba(34, 33, 33, 0.4);
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.header2 ul div{
    padding: 20px;
}
.header2{
    border-radius: 30px;
    position: absolute;
    left: 30%;
    width: 40%;
    background-color: rgba(45, 36, 36, 0.215);
    color: #fff;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(15px);
}
.header2 ul div:hover{
    background-color: grey;
}
.hello{
    position: relative;
}
