*{
    padding: 6px;
    margin: 0px;
}
body{
    zoom: 1.2;
    position: absolute;
    left: 35%;
    width: 50%;
    height: 100%;
    padding: 0;
	margin:0px 50px 0px 50px;
}
header{
    width: 50%;
    background-color: #2a4560;
    color: white;
    text-align: center;
    height: 50px;
}
.content{
    width: 50%;
    background-color:rgba(0, 221, 255, 0.114);
}
.training{
    list-style-type: none;
}
.training p{
    list-style-type: none;
}
.assessment{
    list-style-type: none;
}
.certificate{
    list-style-type: none;
}
.training h3{
    color:#2a4560;
}
.assessment h3{
    color:#2a4560;
}
.certificate h3{
    color:#2a4560;
}
footer{
    width: 50%;
    background-color:#2a4560;
    color:white;
    text-align: center;
    height: 50px;
}
