body{
	height:100%;
	margin:0px 50px 0px 50px;
	background-image: url(bg.jpg);
	background-size: cover;
}
.header{
	min-width: 500px;
	text-decoration: none;
}
.header2 ul div{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.header2{
	min-height: 50px;
	line-height: 50px;
	width: 100%;
	height: 50px;
	padding: 0px;
	margin-top: 0px;
	background-color:grey;
}
.header2 ul div a:hover{
	position: relative;
	align-content: center;
	display:inline-block;
	background-color:rgb(255, 106, 0)	;
}
.header2 ul div{
	padding-right: 30px;
}
.header2 ul div a{
	color: white;
	text-decoration: none;
}
.mid{
	min-height: 100%;
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	color: black;
	width: 60%;
	background-color: white;
}
.mid a{
	text-decoration: none;
	color: rgb(255, 106, 0);
}
.mid2{
	min-height: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	color: black;
	width: 60%;
	background-color: white;
}
.mid2 a{
	text-decoration: none;
}
.mid2 h1{
	color: rgb(255, 106, 0);
}

.circ{
    top: 360px;
    right: 63px;
	height: 130px;
	width: 30%;
    position: absolute;
	display: grid;
	margin: 20px;
	padding: 0px 5px 10px 10px;
	background-color: white;
}
.noti{
    top: 527px;
    right: 83px;
	height: 130px;
	width: 30%;
    position:absolute;
	display: block;
	padding: 0px 3px 5px 10px;
	background-color: white;
    justify-content: end;
}
.news{
    top: 670px;
    right: 84px;
    position: absolute;
	height: 130px;
	width: 30%;
	display:grid;
	padding: 0px 3px 5px 10px;
	background-color: white;
}
.footer{
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: grey;
	display: flex;
	list-style-type: none;
}
.footer2 a{
	padding: 20px;
	color:rgb(255, 106, 0);
}
.footer2{
	padding-left: 10px;
	text-align: justify;
}

